---
layout: default
---

<header>
  {% include nav.html %}
</header>

<section id="header-pages-blog">
  <div class="container" id="header-pages-blog-title">

    <h2 class="page-title">Календар</h2>

  </div>
</section> <!-- hero -->


{% include social.html %}


<div class="container" id="separator-pages-top"></div>

<section id="calendar">
  <div class="container">

    <iframe id="calendar-frame" src="https://calendar.google.com/calendar/embed?src=hc63uuco4o7cosnf7icqab3aok%40group.calendar.google.com&ctz=Europe%2FKiev" style="border: 0" width="1200" height="700" frameborder="0" scrolling="no" ></iframe>​

  </div>
</section>

<div class="container" id="separator"></div>

{% include footer.html %}

