---
layout: default
permalink: /contact/
---

<header>

  {% include nav.html %} 	

</header><!-- site-header -->

<section id="header-pages-contact">
  <div class="container" id="header-pages-contact-title">
    <h2 class="page-title">Контакти</h2>
  </div>
</section> <!-- hero -->

<!-- ======== pages-social-icons ===========-->

{% include social.html %}

<div class="container" id="separator"></div>

<section id="contact">

  <div class="container">

    <div class="row" id="map-info">

     <div class="col-md-5" id="contact-col-txt-2">
        <h3>Адреса</h3>
        <p>03056, м.Київ, проспект Перемоги, 37</p>
        <p>Науково-технічна бібліотека КПІ, зал №5</p>
        <br>
        <p>Якщо ви не студент КПІ, візьміть будь ласка з собою документ, що посвідчує особу і містить вашу фотографію</p>
        <h3>Розклад роботи</h3>
        <p>Пн-пт: з 16-30 до 20-00</p>
        <p>Сб: з 12-00 до 17-00</p>
        <p>Нд: вихідний</p>
        <h3>Контакти</h3>
        <p>E-mail: <a href="mailto:e.korotkiy [at] kpi.ua">e.korotkiy[at]kpi.ua</a></p>
        <p>Номери телефонів:</p>
        <ul>
        <li>+3-8-067-695-2004 (Короткий Євген)</li>
        <li>+3-8-095-751-4575 (Білий Віталій)</li>
        <li>+3-8-098-765-1781 (Гордієнко Ярослав)</li>
        <li>+3-8-095-002-2831 (Ткачук Юрій)</li>
        </ul>
        <p>За номерами можливий контакт в Telegram</p>
      </div> <!-- col -->

      <div class="col-md-1"></div>

      <div class="col-md-6" id="map-container" >
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d981.1130044637364!2d30.456758630419365!3d50.44974981823893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4b57b04de630975!2sLampa!5e0!3m2!1sen!2sua!4v1545743026349" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div> <!-- col --> 

    </div> <!-- row -->

  </div>
</section> <!--contact-->

<div class="container" id="separator"></div>

{% include footer.html %}
