---
layout: default
image: /img/donate.jpg
description: "Підтримати лабораторію Lampa"
---

<header>

	{% include nav.html %}

</header>

<section id="header-pages-blog">
  <div class="container" id="header-pages-blog-title">
    <h2 class="page-title">Підтримати нас</h2>
  </div> <!-- container -->
</section> <!-- hero -->

{% include social.html %}

<div class="container" id="separator-pages-top"></div>

<!-- ==== About Lampa Lab ==== -->

<section id="lampa-donate">

<div class="container" id="separator-blog"></div>

<div class="container">
  <h2>Допомогти лабораторії</h2>
  <br>
  <div class="row">

    <div style="font-size: 0.95em;" class="col-md-6 col-sm-6">
      <p>Друзі, цей проект став можливим лише завдяки волонтерській праці.</p><br> 

      <p>Залучення нового обладнання, меблів, організація заходів, створення нових відео і навчальних матеріалів, консультації відвідувачів, все це потребує величезної додаткової неоплачуваної роботи. Часто доводиться купувати за власний кошт витратні матеріали.</p><br> 

      <p>Якщо ви вважаєте, що ми робимо корисну справу і хочете нас підтримати, будемо дуже вдячні за допомогу!</p><br>

      <p>Приват24: <strong>5168 7573 1239 6858</strong> (Короткий Євген)</p><br>
      <p>BTC: <strong>3AFYKErt3ASC4ieEgMp9qyAMDFhBt72Xiz</strong></p><br>
      <p>ETH: <strong>0x3dc9218e83f7469a34136e2f4c57ee15fe8c5f11</strong></p><br>

    </div> <!-- col -->

    <div class="col-md-6 col-sm-6">
      <img class="img-responsive" src="{{site.baseurl}}/img/donate.jpg">
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
</section> <!-- section -->

<div class="container" id="separator"></div>

{% include footer.html %}
