---
layout: default
image: /img/donate.jpg
description: "Підтримати лабораторію Lampa"
---

<header>

	{% include nav.html %}

</header>

<section id="header-pages-blog">
  <div class="container" id="header-pages-blog-title">
    <h2 class="page-title">Підтримати лабораторію Lampa</h2>
  </div> <!-- container -->
</section> <!-- hero -->

{% include social.html %}

<div class="container" id="separator-pages-top"></div>

<!-- ==== About Lampa Lab ==== -->

<section id="lampa-donate">

<div class="container" id="separator-blog"></div>

<div class="container">
  <br>
  <h3>Допомогти нам</h3>
  <br><br>
  <div class="row">

    <div style="font-size: 0.95em;" class="col-md-6 col-sm-6">
      <p>Друзі, наш проект став можливим лише завдяки волонтерській праці. Залучення нового обладнання і меблів, організація заходів, створення нових відео і навчальних матеріалів, консультації відвідувачів, все це потребує величезної додаткової неоплачуваної роботи. Часто доводиться купувати за власний кошт витратні матеріали (припой, пластик для безкоштовного 3D друку і т.д.).</p><br>

      <p>Якщо ви вважаєте, що ми робимо корисну справу і хочете нас підтримати, будемо дуже вдячні за допомогу!</p>

      <p>Карта Приват Банк: 376287698726</p>
      <p>BTC: </p>
      <p>ETH: </p><br>

      <p>Також нас можна підтримати підписавшись на наш <a target="_blank" href="https://www.youtube.com/user/kpikeoa"><strong>Ютуб канал</strong></a>. Там досить багато цікавих відео!</p><br>

      <p>Будемо дуже вдячні за допомогу в розвитку електронної інженерії і освіти в Україні!</p><br>

    </div> <!-- col -->

    <div class="col-md-6 col-sm-6">
      <img class="img-responsive" src="{{site.baseurl}}/img/donate.jpg">
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
</section> <!-- section -->

<div class="container" id="separator"></div>

{% include footer.html %}
