---
layout: default
image: /img/hero_slider/a_slider_5.jpg
description: "Обладнання лабораторії Lampa"
permalink: /equipment/
---

<header>
  {% include nav.html %}
</header>

<section id="header-pages-blog">
  <div class="container" id="header-pages-blog-title">

    <h2 class="page-title">Обладнання лабораторії</h2>

  </div>
</section> <!-- hero -->


{% include social.html %}


<div class="container" id="separator-pages-top"></div>

<section id="equipment">
  <div class="container">

    <iframe id="equipment-frame" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQj389hFrQqNoiFcye_htsn7x-PsGf7EKGRkCAmSXV-c6YcqnuqBoxaSu44KgxMgGWyuLO3PKMhH09M/pubhtml?widget=true&amp;headers=false" style="border: 0" width="1200" height="700" frameborder="0"></iframe>

  </div>
</section>

<div class="container" id="separator"></div>

{% include footer.html %}

