---
layout: default
image: /img/events/microschool/micro1.jpg
description: "Заходи лабораторії Lampa"
permalink: /events/
---

<header>
  {% include nav.html %}
</header>


<section id="header-pages-blog">
  <div class="container" id="header-pages-blog-title">
            <h2 class="page-title">Заходи</h2>
  </div>
</section>

{% include social.html %}

<div class="container" id="separator-pages-top"></div>

<section id="events">
  <div class="container">
    <div class="row">

      {% for post in site.posts %}
        {% if post.type == 'event' %}

        <div class="col-md-6">

          <a href="{{site.baseurl}}{{post.url}}"><img src="{{post.image}}" alt="event"/></a>
          <br>

        </div>  <!-- col-->

        <div class="col-md-6" id="event-description">

          <h3><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>
          <br>
          <p>{{post.description}}</p>
          <br>
          <a class="btn btn-default" id="event-join" href="{{site.baseurl}}{{post.url}}">Читати більше<span class="glyphicon glyphicon-chevron-right"></span></a>

        </div>  <!-- col-->

        <div class="container" id="separator"></div>

        {% endif %}
      {% endfor %}


    </div> <!-- row -->
  </div> <!-- container -->
</section> <!-- workshops -->

<div class="container" id="separator"></div>

{% include footer.html %}
