---
layout: default
meta: One of the leading laboratories of the worldwide network of Fab Labs
---

<!-- ==== Navbar ==== -->

<header>

  {% include nav.html %}

</header><!-- site-header -->

<section id="hero">

  <div class="container" id="carousel-container">

    <div id="carousel-fade" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner">
        <div class="item active">
          <img id="slider-img" src="{{site.baseurl}}/img/hero_slider/a_slider_1.jpg" alt="...">
          <div class="carousel-caption"></div>
        </div> <!-- item -->

        <div class="item">
          <img id="slider-img" src="{{site.baseurl}}/img/hero_slider/a_slider_2.jpg" alt="...">
          <div class="carousel-caption"></div>
        </div> <!-- item -->

        <div id="slider-img"  class="item">
          <img src="{{site.baseurl}}/img/hero_slider/a_slider_3.jpg" alt="...">
          <div class="carousel-caption"></div>
        </div> <!-- item -->

        <div class="item">
          <img id="slider-img" src="{{site.baseurl}}/img/hero_slider/a_slider_4.jpg" alt="...">
          <div class="carousel-caption"></div>
        </div> <!-- item -->

        <div id="slider-img"  class="item">
          <img src="{{site.baseurl}}/img/hero_slider/a_slider_5.jpg" alt="...">
          <div class="carousel-caption"></div>
        </div> <!-- item -->

      <div class="carousel-caption">
        <img id="main-logo" src="{{site.baseurl}}/img/logos/big_logo.png"/>
        <br><br>
        <p>Відкрита лабораторія електроніки</p>	
        <br>
        <li>          
	  <a target="_blank" href="https://www.facebook.com/lampa.kpi/"><i class="fa fa-facebook-square fa"></i></a>&nbsp;&nbsp;&nbsp;
          <a target="_blank" href="https://t.me/kpi_lampa"><i class="fa fa-telegram"></i></a>&nbsp;&nbsp;&nbsp;
	  <a target="_blank" href="https://www.youtube.com/user/kpikeoa"><i class="fa fa-youtube fa"></i></a>&nbsp;&nbsp;&nbsp;
	  <a target="_blank" href="https://www.instagram.com/lampa.lab/"><i class="fa fa-instagram fa"></i></a>&nbsp;&nbsp;&nbsp;
	  <a target="_blank" href="https://github.com/LampaLab"><i class="fa fa-github fa"></i></a>
        </li>
      </div> <!-- carousel-caption -->

    </div> <!-- carousel-fade -->

</section> <!-- hero -->

 <div class="row" id="map-info">

      <div class="col-md-6" id="map-container" >
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=C%2FPujades%20102%20baixos.%20%20Poble%20Nou%2C%20Barcelona%2008005%20Espa%C3%B1a&key=AIzaSyDUrjldaeC0nEPREGJzBMuKfTUuC6XUJWY" allowfullscreen></iframe>
        </iframe>
      </div> <!-- col -->

      <div class="col-md-1"></div>

      <div class="col-md-5" id="contact-col-txt-2">
        <h3>Адреса</h3><br>
        <p>03056, м.Київ, проспект Перемоги 37</p>
        <p>Науково-технічна бібілотека КПІ, зал №1</p>
        <h3>Розклад роботи</h3><br>
        <p>Пн-пт: з 16-30 до 20-00</p>
        <p>Сб: з 12-00 до 17-00</p>
        <p>Нд: вихідний</p>
        <h3>Контакти</h3><br>
        <p>E-mail: e.korotkiy@kpi.ua</p>
        <p>Тел 1: +3-8-067-695-2004 (Короткий Євген)</p>
        <p>Тел 2: +3-8-098-891-6340 (Федоренко Сергій)</p>
        <p>Тел 3: +3-8-098-765-1781 (Гордієнко Ярослав)</p>
        <p>Тел 4: +3-8-098-334-4299 (Шут Олеся)</p>
      </div> <!-- col -->

    </div> <!-- row -->

  </div>
</section> <!--contact-->

{% include projects.html %}

{% include footer.html %}
