---
layout: default
meta: One of the leading laboratories of the worldwide network of Fab Labs
---

<!-- ==== Navbar ==== -->

<header>

  {% include nav.html %}

</header><!-- site-header -->

<section id="hero">

  <div class="container" id="carousel-container">

    <div id="carousel-fade" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner">
        <div class="item active">
          <img id="slider-img" src="{{site.baseurl}}/img/hero_slider/a_slider_1.jpg" alt="...">
          <div class="carousel-caption"></div>
        </div> <!-- item -->

        <div class="item">
          <img id="slider-img" src="{{site.baseurl}}/img/hero_slider/a_slider_2.jpg" alt="...">
          <div class="carousel-caption"></div>
        </div> <!-- item -->

        <div id="slider-img"  class="item">
          <img src="{{site.baseurl}}/img/hero_slider/a_slider_3.jpg" alt="...">
          <div class="carousel-caption"></div>
        </div> <!-- item -->

        <div class="item">
          <img id="slider-img" src="{{site.baseurl}}/img/hero_slider/a_slider_4.jpg" alt="...">
          <div class="carousel-caption"></div>
        </div> <!-- item -->

        <div id="slider-img"  class="item">
          <img src="{{site.baseurl}}/img/hero_slider/a_slider_5.jpg" alt="...">
          <div class="carousel-caption"></div>
        </div> <!-- item -->

      <div class="carousel-caption">
        <img id="main-logo" src="{{site.baseurl}}/img/logos/big_logo.png"/>
        <br><br>
        <p>Відкрита лабораторія електроніки</p>	
        <br>
        <li>          
	  <a target="_blank" href="https://www.facebook.com/lampa.kpi/"><i class="fa fa-facebook-square fa"></i></a>&nbsp;&nbsp;&nbsp;
          <a target="_blank" href="https://t.me/kpi_lampa"><i class="fa fa-telegram"></i></a>&nbsp;&nbsp;&nbsp;
	  <a target="_blank" href="https://www.youtube.com/user/kpikeoa"><i class="fa fa-youtube fa"></i></a>&nbsp;&nbsp;&nbsp;
	  <a target="_blank" href="https://www.instagram.com/lampa.lab/"><i class="fa fa-instagram fa"></i></a>&nbsp;&nbsp;&nbsp;
	  <a target="_blank" href="https://github.com/LampaLab"><i class="fa fa-github fa"></i></a>
        </li>
      </div> <!-- carousel-caption -->

    </div> <!-- carousel-fade -->

</section> <!-- hero -->


<section id="contact">

  <div class="container" id="separator-pages-top"></div>

  <div class="container">

    <div class="row" id="map-info">

     <div class="col-md-5" id="contact-col-txt-2">
        <h3>Адреса</h3><br>
        <p>03056, м.Київ, проспект Перемоги, 37</p>
        <p>Науково-технічна бібліотека КПІ, зал №1</p>
        <h3>Розклад роботи</h3><br>
        <p>Пн-пт: з 16-30 до 20-00</p>
        <p>Сб: з 12-00 до 17-00</p>
        <p>Нд: вихідний</p>
        <h3>Контакти</h3><br>
        <p>E-mail: <a href="e.korotkiy@kpi.ua">e.korotkiy@kpi.ua</a></p>
        <p>Номери телефонів:</p>
        <ul>
        <li>+3-8-067-695-2004 (Короткий Євген)</li>
        <li>+3-8-098-891-6340 (Федоренко Сергій)</li>
        <li>+3-8-098-765-1781 (Гордієнко Ярослав)</li>
        <li>+3-8-098-334-4299 (Шут Олеся)</li>
        </ul>
        <p>За номерами можливий контакт в Telegram</p>
      </div> <!-- col -->

      <div class="col-md-1"></div>

      <div class="col-md-6" id="map-container" >
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d981.1130044637364!2d30.456758630419365!3d50.44974981823893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4b57b04de630975!2sLampa!5e0!3m2!1sen!2sua!4v1545743026349" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div> <!-- col --> 

    </div> <!-- row -->

  </div>
</section> <!--contact-->

{% include footer.html %}
