<!-- ==== FOOTER ==== -->

<section id="collaborations">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-2" id="collaborations-text">
        <h2>Партнери</h2>
        <br>
      </div> <!-- col -->

      <div class="col-md-1 col-sm-1 col-xs-1"></div>

      <div class="col-md-7 col-sm-9 col-xs-12">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6" >
            <a target="_blank" href="https://www.melexis.com/"><img src="{{site.baseurl}}/img/collaborations/melexis_logo.png"/></a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6" >
            <a target="_blank" href="https://sirinsoftware.com/"><img src="{{site.baseurl}}/img/collaborations/sirinsoftware_logo.png"/></a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6" >
            <a target="_blank" href="https://www.globallogic.com/"><img src="{{site.baseurl}}/img/collaborations/globallogic_logo.png"/></a>
          </div>
        </div> <!-- row -->
       
        <hr>
      
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6" >
            <a target="_blank" href="https://evocom.ua/"><img src="{{site.baseurl}}/img/collaborations/evocom_logo.png"/></a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6" >
            <a target="_blank" href="https://www.rohde-schwarz.com/"><img src="{{site.baseurl}}/img/collaborations/rohde_und_schwarz_logo.png"/></a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6" >
            <a target="_blank" href="https://gb.kyivcity.gov.ua/projects/archive/1/show/336"><img src="{{site.baseurl}}/img/collaborations/gb.png"/></a>
          </div>
        </div>
      
      </div> <!-- col -->
    </div> <!-- row -->

  </div> <!-- container-->
</section> <!-- section-->

<section id="footer">
  <div style="font-size: 1.0em;" class="container">
    <p style="padding:10px"> Created by <strong>Lampa Lab</strong> (c) 2018-2020</p>
  </div> <!--container-->
</section> <!--footer-->
