<div class="navbar-wrapper">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://lampa.kpi.ua/"><img src="{{site.baseurl}}/img/logos/small_logo.png" alt="Lampa Lab"></a>
      </div> <!-- navbar-header -->
      <div class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-right">
          <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{site.baseurl}}/">Головна</a></li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Про нас<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="{% if page.url == '/about/' %}active{% endif %}"><a href="{{site.baseurl}}/about/">Про лабораторію</a></li>
              <li class="{% if page.url == '/gallery/' %}active{% endif %}"><a href="{{site.baseurl}}/gallery/">Фото галерея</a></li>
              <li class="{% if page.url == '/media/' %}active{% endif %}"><a href="{{site.baseurl}}/media/">ЗМІ про нас</a></li>
              <li><a href="https://www.facebook.com/lampa.kpi/photos/a.1581441292114753.1073741829.1579493785642837/1640509106207971/?type=3&theater" target="_blank">Звіт за 2015 рік</a></li>
              <li><a href="https://www.facebook.com/lampa.kpi/photos/a.1581441292114753.1073741829.1579493785642837/1787629241495956/?type=3&theater" target="_blank">Звіт за 2016 рік</a></li>
              <li><a href="https://telegra.ph/Otchet-Lampy-za-2017-god-01-01" target="_blank">Звіт за 2017 рік</a></li>
              <li><a href="https://telegra.ph/Zv%D1%96t-Lampi-za-2019-r%D1%96k-12-31" target="_blank">Звіт за 2019 рік</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Обладнання<span class="caret"></span></a>
            <ul class="dropdown-menu">
	      <li class="{% if page.url == '/equipment/' %}active{% endif %}"><a href="{{site.baseurl}}/equipment/">Обладнання лабораторії</a></li>
              <li class="{% if page.url == '/3dprint/' %}active{% endif %}"><a href="{{site.baseurl}}/3dprint/">Інструкція з 3D друку</a></li>
              <li class="{% if page.url == '/3dprint-calendar/' %}active{% endif %}"><a href="{{site.baseurl}}/3dprint-calendar/">Календар 3D друку</a></li>
            </ul>
          </li>   

	  <li class="{% if page.url == '/projects/' %}active{% endif %}"><a href="{{site.baseurl}}/projects/">Проекти</a></li>
	  
	  <li class="{% if page.url == '/events/' %}active{% endif %}"><a href="{{site.baseurl}}/events/">Заходи</a></li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Навчання<span class="caret"></span></a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

            <li> <a tabindex="-1" href="{{site.baseurl}}/education/">Навчальні матеріали</a></li> <!-- dropdown-submenu -->
            
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Наші відео курси</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1"><a href="https://www.youtube.com/playlist?list=PL4WQQHlheqfxlBAVy_BCNDcU_HoHczyjk" target="_blank">Аналогові схеми</a></li> 
                  <li><a tabindex="-1"><a href="https://www.youtube.com/playlist?list=PL4WQQHlheqfzl71QHEBzrB_dRLF1fI7wz" target="_blank">Цифрові схеми</a></li>
                  <li><a tabindex="-1"><a href="https://www.youtube.com/playlist?list=PL4WQQHlheqfyIZSzsJXqs6kBQhhsTRBC7" target="_blank">Verilog</a></li>
                  <li><a tabindex="-1"><a href="https://www.youtube.com/watch?v=judSW9LMxA4&list=PL4WQQHlheqfw03rsLoyDuHK2JoD5F_G0Z" target="_blank">Воркшопи з IoT</a></li>
                </ul> <!-- dropdown-menu-->
            </li> <!-- dropdown-submenu -->
            
            <li> <a href="https://www.facebook.com/lampa.kids" target="_blank">Дитяча школа</a></li> <!-- dropdown-submenu -->

            </ul> <!-- dropdown-menu multi-level -->
          </li> <!-- dropdown -->

          <li class="{% if page.url == '/donate/' %}active{% endif %}"><a href="{{site.baseurl}}/donate/">Підтримати</a></li>

          <li class="{% if page.url == '/blog/' %}active{% endif %}"><a href="{{site.baseurl}}/blog/">Блог</a></li>

          <li class="{% if page.url == '/contact/' %}active{% endif %}"><a href="{{site.baseurl}}/contact/">Контакти</a></li>
        </ul><!-- nav navbar-nav navbar-right -->
      </div><!-- navbar-collapse collapse -->

    </div><!-- container -->
  </div><!-- navbar navbar-inverse navbar-fixed-top-->
</div><!-- navbar-wrapper -->
