<section id="pages-social">
	    
	    <div class="container" id="pages-social-icons">

	            <li>
					<li>
							<a target="_blank" href="https://www.facebook.com/lampa.kpi/"><i class="fa fa-facebook-square fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://t.me/kpi_lampa"><i class="fa fa-telegram fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://www.youtube.com/user/kpikeoa"><i class="fa fa-youtube fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://www.instagram.com/lampa.lab/"><i class="fa fa-instagram fa"></i></a>&nbsp;&nbsp;&nbsp;
							<a target="_blank" href="https://github.com/LampaLab"><i class="fa fa-github fa"></i></a>
						</li>
				</li>
	    </div>
	    				
    </section>
